* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;    
}

:root {
    --background-color: #ea1b25;
}
body {
    width: 100vw;
    height: auto;
    display:grid; 
    grid-template-rows: 15vh 300vh;
    row-gap: 3%;
}

header {
    position: fixed;
    width: 100vw;
    height:18vh;
    display: flex;
    flex-direction: column;
}

.starter {
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 2vw;
}


.right-links {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.starter-icons-left,
.starter-icons-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

.starter-icons-left {
    display: flex;
    justify-content: space-between;
}

.starter-icons-left a {
    border-left: 2px solid white;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}


#shporta-heart-icon {
    border-right: 2px solid white;
}

.starter-icons-left a,
.starter-icons-right a {
    font-size: 1.5rem;
    color: white;
    transition: 0.3s ease;
}

.starter-icons-left a:hover,
.starter-icons-right a:hover {
    font-size: 1.7rem;
}

#profile-container {
    gap: 10px;
}

#username-display {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.starter-icons li a:hover {
    font-size: 1.7rem;
}


#starter-logo { 
    width: 10%;
    height: 100%;
    position: relative;
    left: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    transition: 0.2s ease;
    border-right: 2px solid white;
}

#starter-logo:hover {
    font-size: 3.5rem;
} 

#profile-container form {
    width: 50%;
    height: 30%;
}

#logout-btn {
    width: 90%;
    height: 90%;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    background-color: white;
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s ease;
}

#logout-btn:hover {
    width: 100%;
}

#go-back:hover {
    font-size: 3.5rem;
}

#go-back {
    color: white; 
}

main {
    grid-row: 2/3;
    display: flex;
    align-items: start;
    justify-content: center;
}

.inside {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 5%;
}

.upper-links {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 5vh;
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upper-links li { 
    list-style-type: none;
}

#trash a{
    font-size: 1.2rem;
    color: black;
}

.box {
    width: 100%;
    height: 15vh;
    display: flex;
    border: 1px solid black;
}
.imgEdes {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
}

.imgEdes img {
    height: 80%;
    width: 90%; 
}

.imgEdes p {
    text-align: center;
}

.cmimi {
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.cmimi p {
    font-size: 1.2rem;
}

.sasia {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.sasia-content {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.add,.sub {
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    background-color: var(--background-color);
}

.add:hover,.sub:hover {
    background-color: #d57c80;
}

.total {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.total p {
    font-size: 1.2rem;
}

.trash-div {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-div a {
    font-size: 2rem;
    width: 20%;
    text-align: center;
    color: black;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

.trash-div a:hover {
    color: var(--background-color);
}

.place-order-btn {
    width: 150px;
    height: 30px;
    margin-top: 15%;
    background-color: var(--background-color);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.place-order-btn:hover {
    width: 160px;
}