<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "Author" description = "Dion Salihu">
    <meta name = "About" description = "Selling"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>tech</title>
</head>
<body>
    <header>
        <nav class="starter">
            <div class="linking">
                <a href="/" id="go-back"><i class="fa-solid fa-backward-step"></i></a>
                <a href="#" id="starter-logo"><i class="fa-brands fa-sketch"></i></a>
            </div>

           
            <ul class="starter-icons">
                <li><a href="{{ url_for('shporta') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="favorites.html"><i class="fa-solid fa-heart"></i></a></li>
                <div id = "profile-continer">
                    <li><a href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i></a></li>
                    <span id = "username-display"></span>
                    <button id = "logout-btn" type = "button">Logout</button>
                </div>
            </ul>
        </nav>
    </header>

<div class="first box" id = "one">

    <div class="img">
        <img src="images/pc/komp1.webp" id="komp1">
    </div>

    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 7 7800X3D </h3>
            <p>Procesori AMD Ryzen 7 7800X3D është një procesor i fuqishëm për desktop, i dizajnuar
                kryesisht për lojëra dhe performancë të lartë. Me 8 bërthama dhe 16 threads.
            </p>

            <h3>Kartela Grafike:</h3>
            <p>GIGABYTE NVIDIA GeForce RTX 4060 WINDFORCE OC 8G është një kartë grafike e fuqishme e krijuar për
                lojtarë dhe krijues të përmbajtjes, me 8 GB memorie GDDR6 për performancë të qetë në aplikacione dhe
                lojëra kërkuese.
            </p>

            <h3>Memorie Kingston Fury renegade,DDR4 32GB </h3>
            <p>Memoria Kingston Fury Renegade DDR4 ofron performancë të lartë me kapacitet prej 32 GB dhe shpejtësi 3600
                MHz. Me një latencë CL16, kjo memorie
                është ideale për lojëra dhe aplikacione të kërkuara, duke siguruar një eksperiencë të shpejtë dhe të
                qetë.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
</div>

<div class="second box" id = "two">

    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 7 7800X3D </h3>
            <p>Procesori AMD Ryzen 7 7800X3D është një procesor i fuqishëm për desktop, i dizajnuar
                kryesisht për lojëra dhe performancë të lartë. Me 8 bërthama dhe 16 threads.
            </p>

            <h3>Kartela Grafike:</h3>
            <p>GIGABYTE NVIDIA GeForce RTX 4060 WINDFORCE OC 8G është një kartë grafike e fuqishme e krijuar për
                lojtarë dhe krijues të përmbajtjes, me 8 GB memorie GDDR6 për performancë të qetë në aplikacione dhe
                lojëra kërkuese.
            </p>

            <h3>Memorie Kingston Fury Beast Black:</h3>
            <p>Ky është një modul memorie cilësor i llojit DDR5 nga seria Fury Beast me një kapacitet prej 16 GB,
                i projektuar për një frekuencë pune prej 5200 MHz. Memoria trajton kohën e CL36 në 1.25V.
                Memoria nga seria Fury Beast është e pajisur me një ftohës elegant dhe me profil të ulët.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
    <div class="img">
        <img src="images/pc/komp2.webp" id="komp2">
    </div>
</div>

<div class="third box" id = "three">
    <div class="img">
        <img src="images/pc/komp3.webp" id="komp3">
    </div>

    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 5 5600X</h3>
            <p>Fuqizoni përvojën tuaj informatike me procesorin AMD Ryzen 5 5600X 3,7 GHz me gjashtë bërthama AM4,
                i cili përmban gjashtë bërthama dhe 12 fije për të ndihmuar në ngarkimin e shpejtë dhe kryerjen e shumë
                detyrave të aplikacioneve.
            </p>

            <h3>Kartë grafike Palit GeForce, RTX 3060, 12GB RAM, e zezë</h3>
            <p>Përdorni fuqi të mëdha kompjuterike çdo ditë dhe përjetoni shpejtësi të paraqitjes së imazhit në një
                nivel të paparë! Palit RTX 3060 ofron
                komoditet të plotë të përdorimit të pajisjeve të PC, pavarësisht nga ngarkesa.
            </p>

            <h3>Memorie Kingston Fury Beast Black:</h3>
            <p>Ky është një modul memorie cilësor i llojit DDR5 nga seria Fury Beast me një kapacitet prej 16 GB,
                i projektuar për një frekuencë pune prej 5200 MHz. Memoria trajton kohën e CL36 në 1.25V.
                Memoria nga seria Fury Beast është e pajisur me një ftohës elegant dhe me profil të ulët.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
</div>

<div class="fourth box" id = "four">
    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 5 5600X</h3>
            <p>Fuqizoni përvojën tuaj informatike me procesorin AMD Ryzen 5 5600X 3,7 GHz me gjashtë bërthama AM4, i
                cili përmban gjashtë bërthama dhe 12
                fije për të ndihmuar në ngarkimin e shpejtë dhe kryerjen e shumë detyrave të aplikacioneve.
            </p>

            <h3>Kartë grafike Palit GeForce, RTX 3060, 12GB RAM, e zezë</h3>
            <p>Përdorni fuqi të mëdha kompjuterike çdo ditë dhe përjetoni shpejtësi të paraqitjes së imazhit në një
                nivel të paparë! Palit RTX 3060 ofron
                komoditet të plotë të përdorimit të pajisjeve të PC, pavarësisht nga ngarkesa.
            </p>

            <h3>Memorie Kingston Fury renegade,DDR4 32GB </h3>
            <p>Memoria Kingston Fury Renegade DDR4 ofron performancë të lartë me kapacitet prej 32 GB dhe shpejtësi 3600
                MHz. Me një latencë CL16, kjo memorie
                është ideale për lojëra dhe aplikacione të kërkuara, duke siguruar një eksperiencë të shpejtë dhe të
                qetë.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>

    <div class="img">
        <img src="images/pc/komp4.webp" id="komp4">
    </div>
</div>

<div class="five box" id = "five">
    <div class="img">
        <img src="images/pc/komp5.webp" id="komp5">
    </div>
    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 7 7800X3D </h3>
            <p>Procesori AMD Ryzen 7 7800X3D është një procesor i fuqishëm për desktop, i dizajnuar
                kryesisht për lojëra dhe performancë të lartë. Me 8 bërthama dhe 16 threads.
            </p>

            <h3>ASUS PRIME GeForce RTX™ 5070 12GB GDDR7</h3>
            <p>ASUS PRIME GeForce RTX™ 5070 12GB GDDR7 OC Edition është një kartelë grafike e fuqishme e ndërtuar për të
                ofruar performancë të lartë në lojëra dhe aplikacione profesionale.
                Me NVIDIA, kombinon teknologji të avancuar për grafikë të qartë.
            </p>

            <h3>Memorie Kingston Fury renegade,DDR4 32GB </h3>
            <p>Memoria Kingston Fury Renegade DDR4 ofron performancë të lartë me kapacitet prej 32 GB dhe shpejtësi 3600
                MHz. Me një latencë CL16, kjo memorie
                është ideale për lojëra dhe aplikacione të kërkuara, duke siguruar një eksperiencë të shpejtë dhe të
                qetë.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
</div>

<div class="six box" id = "six">
    <div class="information">
        <div class="info-box">
            <h3>Procesor AMD Ryzen 5 5600X</h3>
            <p>Fuqizoni përvojën tuaj informatike me procesorin AMD Ryzen 5 5600X 3,7 GHz me gjashtë bërthama AM4, i
                cili
                përmban gjashtë bërthama dhe 12
                fije për të ndihmuar në ngarkimin e shpejtë dhe kryerjen e shumë detyrave të aplikacioneve.
            </p>

            <h3>Kartë grafike Palit GeForce, RTX 3060, 12GB RAM, e zezë</h3>
            <p>Përdorni fuqi të mëdha kompjuterike çdo ditë dhe përjetoni shpejtësi të paraqitjes së imazhit në një
                nivel të
                paparë! Palit RTX 3060 ofron
                komoditet të plotë të përdorimit të pajisjeve të PC, pavarësisht nga ngarkesa.
            </p>

            <h3>Memorie Kingston Fury Beast Black:</h3>
            <p>Ky është një modul memorie cilësor i llojit DDR5 nga seria Fury Beast me një kapacitet prej 16 GB,
                i projektuar për një frekuencë pune prej 5200 MHz. Memoria trajton kohën e CL36 në 1.25V.
                Memoria nga seria Fury Beast është e pajisur me një ftohës elegant dhe me profil të ulët.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>

    <div class="img">
        <img src="images/pc/komp6.webp" id="komp6">
    </div>
</div>

<div class = "seven box" id = "seven">
    <div class = "img">
        <img src = "images/laptop/laptop1.webp" id = "lap1">
    </div>

    <div class = "information">
        <div class="info-box">
            <h3>Laptop MSI Thin A15 B7VF-460XPL</h3>
            <p>Ky laptop 15.6" me ekran IPS-Level Full HD ofron përvojë të mrekullueshme vizuale falë
                rezolucionit 1920 x 1080 piksel dhe rifreskimit të shpejtë prej 144 Hz. Sipërfaqja e mat dhe ndriçimi
                prej 250 cd/m² sigurojnë një shikim të qartë edhe në ambiente me dritë të fortë. I pajisur me procesor
                të fuqishëm AMD Ryzen™ 5 7535HS të gjeneratës së 7000-të, me 6 bërthama dhe frekuencë deri në 4.55 GHz,
                ky laptop është i aftë të përballojë me lehtësi punë intensive dhe shumëdetyrash. Memoria prej 16 GB
                DDR5-SDRAM me frekuencë 4800 MHz dhe mundësia e zgjerimit deri në 64 GB e bëjnë këtë pajisje të 
                përshtatshme për përdoruesit që kërkojnë performancë të lartë. Për ruajtjen e të dhënave, ofrohet një 
                SSD PCIe 4.0 prej 512 GB që garanton shpejtësi të lartë leximi dhe shkrimi. Laptopi mbështetet nga 
                karta grafike e fuqishme NVIDIA GeForce RTX 4060 me 8 GB memorie GDDR6, ideale për lojëra moderne dhe
                përpunim grafik të avancuar, 
                ndërsa grafika e integruar AMD Radeon 680M siguron performancë të mirë në përdorim të përditshëm.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
</div>

<div class = "eight box" id = "eight">
    <div class = "information">
        <div class = "info-box">
            <h3>Laptop Lenovo LOQ 15IAX9</h3>
            <p>Procesorët Intel® Core™ paraqesin një arkitekturë hibride të optimizuar rishtazi dhe teknologji lider
                në industri që i shtyn kufijtë e lojërave standarde dhe krijimit. Me Intel, ju mund t'i bëni të gjitha.
                Nga përparimi në lojë te përparimi në jetën reale, Intel ju fuqizon të jeni më të mirët. Kartat grafike 
                të jashtëzakonshme NVIDIA® GeForce RTX™ 40 Series janë një zgjidhje revolucionare e dedikuar si për 
                lojtarët ashtu edhe për krijuesit. Ata përdorin arkitekturën ultra-efikase NVIDIA Ada Lovelace, e cila 
                siguron një rritje të konsiderueshme si në performancë ashtu edhe në cilësinë e grafikës bazuar në 
                inteligjencën artificiale. Lejojini vetes përvoja zhytëse në botët virtuale me teknologjinë e gjurmimit 
                të rrezeve, rrisni performancën me DLSS 3 dhe fitoni një avantazh ndaj rivalëve me NVIDIA Reflex. 
                Zbuloni mundësi të reja, inovative krijuese 
                dhe përshpejtoni detyrat tuaja. Dizajni termik revolucionar i Lenovo LOQ 15IRX9 është një ndryshim i lojës.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>

    <div class = "img">
        <img src = "images/laptop/laptop2.webp" id = "lap2">
    </div>
</div>

<div class = "nine box" id = "nine">
    <div class = "img">
        <img src = "images/laptop/laptop3.webp" id = "lap3">
    </div>

    <div class = "information">
        <div class = "info-box">
            <h3>Laptop MSI Katana 17 B13VEK-1464XCZ</h3>
            <p>MSI Katana 17 B13VEK-1464XCZ është një laptop i fuqishëm lojrash i krijuar për performancë të qetë 
                dhe lojë gjithëpërfshirëse. Ai përmban procesorin Intel Core i5-13420H me 8 bërthama (4P + 4E), 12
                threads dhe një shpejtësi të rritjes së orës deri në 4,6 GHz, duke siguruar fuqi të besueshme përpunimi
                për lojëra dhe shumë detyra. I çiftuar me 16 GB RAM DDR5-5200 (i zgjerueshëm deri në 64 GB), ky laptop 
                ofron performancë me shpejtësi të lartë. Hapësira ruajtëse trajtohet nga një SSD i shpejtë 1TB 
                (PCIe Gen4 NVMe), me dy lojëra elektronike M.2 SSD të disponueshme për përmirësimet e ardhshme.
                Karta grafike NVIDIA GeForce RTX 4050 me memorie 6 GB GDDR6 siguron pamje pamore, 
                ndërsa çelësi MUX optimizon performancën e GPU-së për një përvojë të përmirësuar të lojërave.
            </p>
        </div>
        <ul class = "buttons">
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
</div>


</body>
</html>